<!DOCTYPE html>
<html lang="en">
{% include "main_ui/connections.html" %}

<head>
    <meta charset="UTF-8">
    <title>Enter password</title>
</head>
<body class="jumbotron">
<div class="password col-lg-5">
    <form action="" method="post" class="input-group">
        <input type="password" name="password" placeholder="Enter password" class="form-control">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-info">ENTER</button>
    </span>
    </form>
</div>
</body>
<style>
    .password {
        position: absolute;
        top: 30%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%)
    }
</style>
</html>

