<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test room #{{ room_id }}</title>
</head>
<body>
{{ csrf_token }}
<div class=" row">
    <div class="col-xs-12 col-lg-2 col-centered">
        <div class="btn ">
            <button type="button" class="btn btn-info btn-block btn-lg"
                    onClick="parent.location='/'">
                Main page
            </button>
        </div>
    </div>
</div>
<div class="container col-md-10 row col-centered">
    <div id="description" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
            <button class="btn btn-success" onClick="parent.location='/edit/{{ room_id }}'">
                Edit this room
            </button>
        </div>
        <div class="panel-body">
            {{ description }}
        </div>
    </div>
    <div id="app_container">
        <div id="app" class="">
            <div id="editor"></div>
            <div id="output" class="row"></div>
        </div>
    </div>
</div>
</body>
</html>
{% include "main_ui/connections.html" %}
<script src="{{ url_for('static', filename='js/raw/test_room.js') }}"></script>

